@charset "UTF-8";
// Bootstrap brand color customization

/*     brand Colors              */

$brand-primary:              #680000 !default;
$brand-primary-darker:       #680000 !default; // if the colour is darker the colour would be black!
$brand-info:                 $cyan-500 !default;
$brand-success:              $green-500 !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               $red-500 !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $black-color !default;
