---
layout: default
title: jOS - Android ROM
---

<div class="jumbotron jos_welcome">
  <div class="container">
    <div class="row justify-content-between align-items-bottom">
      <div class="col-lg-5 text-center text-lg-left pb-10">

        <h1>jOS Android ROM</h1>
        <p>A free and open-source android compatible operating system, based on <a class="btn j-btn-link text-white has-ripple" href="https://grapheneos.org/" target="_blank">GrapheneOS</a>.</p>
        <a class="btn btn-primary text-primary" href="https://github.com/dot166/jOS_manifest">Get the Source Code</a>
        <a class="btn btn-link text-white" href="{{ site.baseurl }}/jOS/Changelogs/">Changelogs</a>

      </div>
      <!--<img alt="Home" src="{{ site.baseurl }}/assets/img/peek_device.png" class="welcome-image">-->
    </div>
  </div>
</div>

<section class="blog bg-primary-lighter">
  <div class="container">
    <div class="post text-lg-left">
      <div>
        <h2>Latest Changelog</h2>

        {% for post in site.categories.changelogs limit:1 %}
        <h3><a class="fg-primary-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
        <h6>{{ post.excerpt }}</h6>
        <p><i class="material-icons-outlined post-icons" alt="Creation date">calendar_today</i> {{ post.date | date: '%B %d, %Y' }}
        {% if post.modified %} <i class="material-icons-outlined post-icons" alt="Last modified">edit_calendar</i> {{ post.modified | date: '%B %d, %Y' }}{% endif %}
        {% if post.author %} <i class="material-icons-outlined post-icons" alt="Author">person_outline</i> {{ post.author }}{% endif %}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
